@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

.background-container {
    background-image: url('../../assets/background.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    height: 100vh;
  }

  .Welcome-container{

      display: flex;
      justify-content: center;
    
  }

  
.background-circle{
 height:70vh;
 width:40vw;
 border-radius:45%;
 background:linear-gradient(30deg,rgb(255, 255, 255),rgb(162, 255, 0));
 position :absolute;
 z-index: 0;
}
  
.welcome-img{
  
  max-height:600px;
  z-index: 100;


}

.tag-line{
  
  font-family:'Mukta';
  font-weight: bolder;
  font-size:4em;
  color: rgba(237, 255, 70, 0.822);
}

@media screen and (max-width: 768px) {
 .tag-line{
  font-size: 2em;
 }
}